<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Comment Analysis System</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include moment.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Include the moment.js date adapter for Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/display.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ul>
        </nav>
        <h1>YouTube Comments Analyzing System</h1>
    </header>
    <main>
        <section id="videoSection" class="content">
            <div id="videoDetails">
                <!-- Video details will be dynamically inserted here -->
            </div>
            <form id="videoForm" onsubmit="event.preventDefault(); analyzeVideo();">
                <div class="form-group">
                   <h2><label for="videoLink"  style="color:white;">Enter YouTube Link:</label></h2>
                    <input type="text" id="videoLink" placeholder="Paste YouTube link here" required>
                </div>
                <div class="form-group">
                    <button id="submitButton" type="submit">Submit</button>
                    <div class="video" id="analysisResults" width="50" height="50"></div>
                </div>
                <!-- <div class="video" id="analysisResults" width="50" height="50"></div> -->
            </form>
            <!-- <div class="video" id="analysisResults" width="50" height="50"></div> -->
        </section>

        <div id="firstBox" class="firstBox" style="display: none;">
        <!-- Positive Comments -->
        <div id="positiveComments"></div>
        <!--Sentiment Pie Chart -->
        <div id="sentimentanalysis"></div>
        <div class="chart"><canvas id="sentimentPieChart" width="50" height="50"></canvas></div>
        <!-- Negative Comments -->
        <div id="negativeComments"></div>
        </div>
        <!-- comments with time -->
        <canvas id="timeSeriesAnalysisChart" width="800" height="400"></canvas>
        <!-- Most Liked Comments -->
        <div id="mostLikedComments"></div>
        <!-- subsNonsubs -->
        <div id="subscribersAndNonSubscribers"></div>
        <canvas id="subscribersGraph" class="chart" width="400" height="200"></canvas>
        <!-- Video Feedback -->
        <div id="videoFeedback"></div>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>